# © 2025 Mouvement Français pour un Revenu de Base http://www.revenudebase.info
#
# SPDX-License-Identifier: Unlicense+
# SPDX-FileContributor:    Fabien FURFARO
# SPDX-FileContributor:    Henri  GEIST

__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
.env
.ipynb_checkpoints/
.coverage
.git
.vscode
extract/projet_complet.md

*.db
