# © 2025 Mouvement Français pour un Revenu de Base http://www.revenudebase.info
#
# SPDX-License-Identifier: Unlicense+
# SPDX-FileContributor:    Henri GEIST

---
extends: default

rules:
  document-start: disable
  indentation:
    spaces: 2
  colons:
    max-spaces-after: -1
