# © 2025 Mouvement Français pour un Revenu de Base http://www.revenudebase.info
#
# SPDX-License-Identifier: Unlicense+
# SPDX-FileContributor:    Fabien FURFARO

fastapi
uvicorn
sqlalchemy
pytest
pytest-bdd
pydantic
