# © 2025 Mouvement Français pour un Revenu de Base http://www.revenudebase.info
#
# SPDX-License-Identifier: Unlicense+
# SPDX-FileContributor:    Fabien FURFARO

pytest
pytest-bdd
pytest-playwright
playwright
requests
httpx